.banner__img {
    width: 100%;
    height: calc(100vh - 72px);

}

@media screen and (min-width: 0) {
    .banner__img {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__title {
        height: calc(100vh - 72px);
    }
}